<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visplatform</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <style>
        html,
        body, li {
            background-color: #f5f5f2 !important;
        }

        ul li {
            list-style: none;
            margin: 0;
        }

        a {
            text-decoration: none !important
        }

        ul {
            min-height: 50px !important;
            padding: 0 !important;
        }

        #user {
            position: absolute;
            width: 200px;
            height: 100px;
            left: 75%;
            color: #007bff;
        }

        #user button:hover {
            background: #2ecc71;
        }

        #logout {
            border: 0;
            background: none;
            display: block;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            color: #007bff;
        }

        #in {
            border: 0;
            background: none;
            display: none;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            color: #007bff;
            margin-top: 10px;
        }

        .btn-group {
            position: absolute;
            width: 100%;
            top: 20px;
        }

        #top {
            width: 100%;
            height: 8vh;
            z-index: 2000;
           
        }

        #vis {
            background: white;
            height:100vh;
            overflow: hidden;
        }

        .panel {
            min-width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            margin-top: -150%;
            opacity: 0;
            z-index: 2;
            -webkit-transition: opacity .6s ease-in-out;
            -moz-transition: opacity .6s ease-in-out;
            -o-transition: opacity .6s ease-in-out;
            -ms-transition: opacity .6s ease-in-out;
            transition: opacity .6s ease-in-out;
        }
        
        .panel:target {
            opacity: 1;
            margin-top: 0%;
        }
     

        .linestyle{
            stroke: #f3aeb6;
            stroke-width: 3;
            }

    </style>
</head>
<body>
<div id="top" style="display:flex ">
    
        <button type="button" class="btn btn-primary btn-lg" style="height: 100%;width:50%" onclick="window.location.href='#content'">线性目录</button>
        <button type="button" class="btn btn-secondary btn-lg" style="height: 100%;width:50%" onclick="window.location.href='#vis'">可视化目录</button>
</div>

<div id="vis" class="panel">

</div>

<div class="container panel" id="content">
    <div id="user">
        <p>&nbsp;&nbsp;用户 : {{ current_user.nickname }}</p>
        <button id='logout'>退出登录</button>
        <button id='in'>进入后台</button>
    </div>
    <div class="row" style="width: 50% ; margin-left:25%; margin-top:5vh">
        <div class="col-12">

            <h2 style="color:#67c23a"> 用D3实现数据可视化</h2>
            {% for module in modules %}
                <div>
                    <div style="padding:12px 20px;border:1px solid; background-color: #f5f5f5">
                        <a class="arrow" data-toggle="collapse" href="#id_{{ module._id }}" role="button">
                            <!-- 折叠箭头 -->
                            <svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                {% if collapse_state[module._id|string] == 'fold' %}
                                    <path data-state="right"
                                          d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                {% else %}
                                    <path data-state="down"
                                          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                {% endif %}
                            </svg>
                        </a>{{ module.module_name }}
                        <!-- 单元下拉菜单 -->
                    </div>
                    {% if collapse_state[module._id|string] == 'fold' %}
                        <ul class="collapse list-group " id="id_{{ module._id }}">
                    {% else %}
                        <ul class="collapse list-group show" id="id_{{ module._id }}">
                    {% endif %}
                    {% for sub_module in module.sub_modules %}
                        <li class="list-group-item" id="id_{{ sub_module.sub_id }}">
                            <a href="{{ url_for('show_course',_id = sub_module.sub_id, type = sub_module.type,order=sub_module.order,come_from = 'linear_category') }}">
                                {{ dics[sub_module.sub_id] }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../node_modules/d3/d3.min.js"></script>
<script>


    $(document).on('click', '#logout', function () {
        window.location.href = 'logout';
    })
    $(document).on('show.bs.collapse', '.list-group', function () { //折叠箭头
        let path = $(this).siblings('div').children('.arrow').children('svg').children('path')
        if (path.attr("data-state") == "right") {
            path.attr("d", "M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z")
            path.attr("data-state", "down")
            let id = $(this).attr('id').slice(3)
            //console.log(id)
            $.ajax({
                url: "{{ url_for('category_set_cookie') }}",
                type: "post",
                data: JSON.stringify({
                    'id': id,
                    'state': 'unfold'
                }),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {

                },
                error: function (e) {
                }
            })
        }
    })
    $(document).on('hide.bs.collapse', '.list-group', function () { //折叠箭头
        let path = $(this).siblings('div').children('.arrow').children('svg').children('path')
        if (path.attr("data-state") == "down") {
            path.attr("d", "M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z")
            path.attr("data-state", "right")
            let id = $(this).attr('id').slice(3)
            //console.log(id)
            $.ajax({
                url: "{{ url_for('category_set_cookie') }}",
                type: "post",
                data: JSON.stringify({
                    'id': id,
                    'state': 'fold'
                }),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (data) {
                },
                error: function (e) {
                }
            })
        }
    })

    if ('{{ current_user.username }}' == 'admin')
        $('#in').css('display', 'block');

    $(document).on('click', '#in', function () {
        if ('{{ current_user.username }}' == 'admin')
            window.location.href = '{{url_for("Admin")}}'
    })

</script>

<script>
    var color = ['#fafafa', '#c5d2da', '#615f8e', '#ffdcbb', '#f5f5f5']

    var dataset = {{ dataset | safe}}
    var tips ={{tips_data | safe}}

    //var dataset = {{dataset | safe}}
    //var tips ={{tips_data | safe}}
    //console.log(dataset)
    var h = dataset[0].r * 2;
    var w = h;

    const svg = d3.select("#vis")
        .append("svg")
        .attr("height", "96vh")
        .attr("width", "96vw")
        .attr("viewBox", [0, 0, w, h]);

    const g = svg.selectAll(".layer_zero")
        .data(dataset.filter(d => d.deepth == 0))
        .join("g")
        .attr("class", "layer_zero")
        .attr("data-name", d => d.name)
        .attr("data-parent", d => d.parent)

    g.append("circle")
        .attr("data-name", d => d.name)
        .attr("cx", d => d.cx)
        .attr("cy", d => d.cy)
        .attr("r", d => d.r)
        .attr("fill", d => color[d.deepth])

    d3.select("circle[data-name='项目挑战']").attr("fill", color[4])

    d3.selectAll(".layer_zero").each(function (p, j, n) {

        d3.select(this)
            .selectAll(".layer_one")
            .data(dataset.filter(d => d.parent == p.name))
            .join("g")
            .attr("class", "layer_one")
            .attr("data-name", d => d.name)
            .attr("data-parent", d => d.parent)
            .append("circle")
            .attr("data-name", d => d.name)
            .attr("cx", d => d.cx)
            .attr("cy", d => d.cy)
            .attr("r", d => d.r)
            .attr("fill", d => color[d.deepth])
    })

    d3.selectAll(".layer_one").each(function (p, j, n) {
        //console.log(this,p,j,n)
        d3.select(this)
            .selectAll(".layer_two")
            .data(dataset.filter(d => d.parent == p.name))
            .join("g")
            .attr("class", "layer_two")
            .attr("data-name", d => d.name)
            .attr("data-parent", d => d.parent)
            .append("circle")
            .attr("data-name", d => d.name)
            .attr("cx", d => d.cx)
            .attr("cy", d => d.cy)
            .attr("r", d => d.r)
            .attr("fill", d => color[d.deepth])
    })

    d3.selectAll('.layer_two').each(function (p, j, n) {
        //console.log(this,p,j,n)
        d3.select(this)
            .selectAll(".layer_three")
            .data(dataset.filter(d => d.parent == p.name))
            .join("g")
            .attr("class", "layer_three")
            .attr("data-name", d => d.name)
            .attr("data-parent", d => d.parent)
            .append("circle")
            .attr("data-name", d => d.name)
            .attr("cx", d => d.cx)
            .attr("cy", d => d.cy)
            .attr("r", d => d.r)
            .attr("fill", d => color[d.deepth])
    })

    // circle_ones.data(dataset,function(d){return d})

    //加title
    d3.selectAll("g")
        .append("title")
        .text(d => {
            if (d.deepth > 0)
                return d.name
        })

    //加text

    function add_orign_a() {
        d3.selectAll(".layer_one").selectAll("a").remove()
        d3.selectAll(".layer_one")
            .filter(d=>d.parent != "项目挑战")
            .append("a")
            .append("text")
            .text(d => d.name)
            .attr("x", d => d.cx)
            .attr("y", d => d.cy)
            .attr("font-size", d => d.r / (5 - d.deepth))
            .attr("text-anchor", "middle")
            .attr("dominant-baseline", "middle")
        d3.selectAll(".layer_one")
            .filter(d=>d.parent == "项目挑战")
            .append("a")
            .attr("xlink:href",d => `/course/${d.id}?type=${d.type}&come_from='nolinear_category'`)
            .append("text")
            .text(d => d.name)
            .attr("x", d => d.cx)
            .attr("y", d => d.cy)
            .attr("font-size", d => d.r / (5 - d.deepth))
            .attr("text-anchor", "middle")
            .attr("dominant-baseline", "middle")
    }
    add_orign_a();


    //点击事件
    d3.selectAll("circle").on('click', function (d, i, n) {
        if (d.deepth < 3 && d.name != "项目挑战" && d.parent != "项目挑战") {
            transition(d)
            let parentG = d3.select(d3.event.currentTarget.parentNode)
            //console.log(parentG)
            d3.selectAll(`g[data-name='数据可视化'] > g`).selectAll("a").remove()
            if (d.name != "数据可视化") {
                if (d.deepth != 2) {
                    parentG.append("a")
                        .append("text").text(d => d.name)
                        .attr("x", d => d.cx)
                        .attr("y", d => d.cy)
                        .attr("font-size", d => d.r / (5 - d.deepth))
                        .attr("text-anchor", "middle")
                        .attr("dominant-baseline", "middle")
                } else {
                    parentG.append("a")
                        .attr("xlink:href", d => `/course/${d.id}?type=${d.type}&come_from='nolinear_category'`)
                        .append("text").text(d => d.name)
                        .attr("x", d => d.cx)
                        .attr("y", d => d.cy)
                        .attr("font-size", d => d.r / (5 - d.deepth))
                        .attr("text-anchor", "middle")
                        .attr("dominant-baseline", "middle")


                }
            }
            if (d.deepth != 1) {
                parentG
                    .selectAll("g")
                    .filter(function (x) {
                        return x.parent == d.name
                    })
                    .append("a")
                    .append("text").text(d => d.name)
                    .attr("x", d => {
                        if (d.deepth == 2)
                            return d.cx + d.tx
                        return d.cx
                    })
                    .attr("y", d => {
                        if (d.deepth == 2)
                            return d.cy + d.ty
                        return d.cy
                    })
                    .attr("font-size", d => d.r / (5 - d.deepth))
                    .attr("text-anchor", "middle")
                    .attr("dominant-baseline", "middle")

            } else {
                parentG
                    .selectAll("g")
                    .filter(function (x) {
                        return x.parent == d.name
                    })
                    .append("a")
                    .attr("xlink:href", d => `/course/${d.id}?type=${d.type}&come_from='nolinear_category'`)
                    .append("text").text(d => d.name)
                    .attr("x", d => {
                        if (d.deepth == 2)
                            return d.cx + d.tx
                        return d.cx
                    })
                    .attr("y", d => {
                        if (d.deepth == 2)
                            return d.cy + d.ty
                        return d.cy
                    })
                    .attr("font-size", d => d.r / (5 - d.deepth))
                    .attr("text-anchor", "middle")
                    .attr("dominant-baseline", "middle")

            }
        }
    })


    //项目挑战点击事件
    d3.selectAll('g[data-name="项目挑战"] > circle').on("click", function (d, i) {
        to_origin();
        add_orign_a();
    })

    d3.selectAll('g[data-parent="项目挑战"] > circle').on("click", function (d, i) {
        //console.log(d3.event.target.parentNode, d)
        to_origin();
        add_orign_a();
        remove_tips()
        let g = d3.select(d3.event.target.parentNode)
        let cx = d.cx
        let cy = d.cy
        //on表示已经放大  off和None表示为原大小
        if (g.attr("transition-state") == "on") {
            g.transition()
                .duration(500)
                .attr("transform", "translate(0,0) scale(1)")
                .attr("transition-state", "off")
            d3.selectAll('g[data-parent="项目挑战"]')
                .attr("visibility", "visible")
            remove_tips();
        } else {
            d3.selectAll('g[data-parent="项目挑战"]')
                .attr("visibility", "hidden")
            g.attr("visibility", "visible")
                .transition()
                .duration(500)
                .attr("transform", transform_part(cx, cy, ...currentTransform_part))
                .attr("transition-state", "on")
            on_add_tips(d);
        }
    })
    //项目挑战缩放倍率
    var xm_k = d3.select('g[data-name="项目挑战"]>circle').attr("r") / d3.select('g[data-parent="项目挑战"]>circle').attr("r")//项目挑战缩放倍率
    var currentTransform_part = [w / 2  , h / 2, xm_k]; //项目挑战平移缩放中心和倍率
    const originTransform = [w / 2, h / 2, h];
    var currentTransform = [w / 2, h / 2, h]; //初始缩放中心和宽度


    function transform([x, y, r]) {
        let k = Math.min(h, w) / r
        return `translate(${w / 2 - x * k}, ${h / 2 - y * k}) scale(${k})`;
    }

    function transform_part(ox, oy, x, y, k) //初始坐标(ox,oy) 目的地坐标(x,y)  缩放比例(k)
    {

        return `translate(${x - ox * k},${y - oy * k}) scale(${k})`
    }


    function transition(d) {
        var k = 2 + 0.4 * d.deepth
        var i = d3.interpolateZoom(currentTransform, [d.cx, d.cy, d.r * k]);
        g.transition()
            .delay(250)
            .duration(i.duration * 0.8)
            .attrTween("transform", () => t => transform(currentTransform = i(t)))
    }

    function to_origin() {
        var i = d3.interpolateZoom(currentTransform, originTransform);
        g.transition()
            .duration(i.duration * 0.8)
            .attrTween("transform", () => t => transform(currentTransform = i(t)))
    }

    //添加项目挑战的tips
    //var tem=d3.selectAll('g[data-parent="项目挑战"]>circle')
    function add_tips(d) {
        var g = d3.select(d3.event.currentTarget.parentNode)
        var tip = tips.find(x => x.project_name == d.name).tips

            for (var i = 0; i < tip.length; i++) {
            var target_c = d3.select(`g[data-name='${tip[i]}']>circle`)
            g.append("line")
                .attr("class", "linestyle")
                .attr("x1", d.cx)
                .attr("y1", d.cy)
                .attr("x2", target_c.attr("cx"))
                .attr("y2", target_c.attr("cy"))
        }

        //var tip=tips.find(x=>x.project_name==d.name).tips
        //console.log(tip)

    }
    function on_add_tips(d){
        var g = d3.select(d3.event.currentTarget.parentNode)
        var tip = tips.find(x => x.project_name == d.name).tips
        for (var i = 0; i < tip.length; i++) {
                var target_c = d3.select(`g[data-name='${tip[i]}']>circle`)
                //console.log(target_c,target_c.attr("cy")-(h/2),h/2,xm_k)
                g.append("line")
                    .attr("class", "linestyle")
                    .attr("x1", d.cx)
                    .attr("y1", d.cy)
                    .attr("x2", (target_c.attr("cx") - (w / 2)) / xm_k + d.cx) //相对屏幕中心缩放后的偏移+圆心坐标
                    .attr("y2", (target_c.attr("cy") - (h / 2)) / xm_k + d.cy) //https://www.w3cplus.com/html5/svg-transformations.html
            }
    }
    function remove_tips(){
        var g = d3.select(d3.event.currentTarget.parentNode)
           g.selectAll("line").remove()
    }
    d3.selectAll('g[data-parent="项目挑战"]>circle')
        .on("mouseover", function (d) {
            var g = d3.select(d3.event.currentTarget.parentNode)
            if(g.attr("transition-state") != "on"){
                //console.log(d)
                add_tips(d)
            }
        })
        .on("mouseout", function (d) {
            var g = d3.select(d3.event.currentTarget.parentNode)
            if(g.attr("transition-state") != "on"){
                remove_tips()
            }
        })
</script>
</body>
</html>