<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visplatform</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <style>
        #goback {
            border: 0;
            background: none;
            display: block;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
            color: #007bff;
        }
        #user{
            position: absolute;
            width: 200px;
            height: 100px;
            left: 85%;
            color: #007bff;
        }
        #user button:hover {
            background: #2ecc71;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row header" style="height:100px">
        <div id="user">
            <p>&nbsp;&nbsp;用户 : {{ current_user.nickname }}</p>
            <button id='goback'>返回前台</button>
        </div>
    </div>
    <div class="row main">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-modules-tab" href="{{ url_for('show_modules') }}" role="tab"
                   aria-controls="v-pills-modules" aria-selected="true">目录</a>
                <a class="nav-link active" id="v-pills-codepage-tab"  href="#v-pills-codepage"
                   role="tab"
                   aria-controls="v-pills-codepage" aria-selected="false">编程课程</a>
                <a class="nav-link" id="v-pills-messages-tab" href="{{ url_for('show_projectpages')}}" role="tab"
                   aria-controls="v-pills-messages" aria-selected="false">项目挑战</a>
                <a class="nav-link" id="v-pills-settings-tab"  href="#v-pills-settings" role="tab"
                   aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            </div>
        </div>
        <div class="col-8">
            <form action="{{ url_for('upgrade_course_id') }}">
                <div class="row">
                    <div class="col-3">
                        <label>课程顺序调整：</label>
                        <label for="FormControlSelect1">起点序号</label>
                        <select class="form-control" id="FormControlSelect1" name="start_num">
                            {% for course in courses %}
                                <option>{{ course.course_id }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-3">
                        <label for="FormControlSelect2">终点序号</label>
                        <select class="form-control" id="FormControlSelect2" name="end_num">
                            {% for course in courses %}
                                <option>{{ course.course_id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5">
                        <label for="FormControlSelect3">填写数字，如果要增大序号填写正数如果要减小序号填写负数</label>
                        <input class="form-control" id="FormControlSelect3" name="op">

                    </div>
                    <div class="col-1">
                        <button class="btn btn-success" type="submit" style="margin-top:30px">更改</button>
                    </div>
                </div>
            </form>
            {% for message in get_flashed_messages(with_categories=True) %}
                <div class="row">
                    <div class="col-3">
                        <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
                            {{ message[1] }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <ul class="list-group">
                课程数：{{ courses|length - 1 }}
                {% for course in courses %}
                    <li class="list-group-item">
                        <a href="{{ url_for('edit_course',_id = course._id) }}">{{ course.course_id }}.{{ course.title }}</a>
                        {% if course.concept != None %}
                            {% for concept_temp in course.concept %}
                                <span class="badge badge-secondary">{{ concept_temp.id }}</span>
                            {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('add_course') }}">new</a>
        </div>


        <div class="col-2">
        </div>

        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </div>
</div>
<script>
    $(document).on('click','#goback',function (){
        if('{{ current_user.username }}' == 'admin')
            window.location.href = '/'
    })
</script>
</body>
</html>