<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>visplatform</title>
    <link href='../node_modules/bootstrap/dist/css/bootstrap.css' rel='stylesheet'/>
    <link href='../node_modules/simplemde/dist/simplemde.min.css' rel='stylesheet'/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            background-color: #F5F5F2;
        }

        .header {
            height: 50px;
            background-color: #F5F5F2;

        }

        .submit-btn {
            color: #fff;
            background-color: #67c23a;
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid #67c23a;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 2px;
            transition: .1s;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 12px 20px;
            font-size: 14px;
            border-radius: 4px;
            margin-bottom: 2px;
        }

        #file_toolbar {

            border: solid 1px black;
            position: fixed;
            z-index: 999;
            right: 0;
            width: 20vw;
            height: 100vh;
            background-color: #F5F5F2;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="height: 100%; width:60%">
    <div id="file_toolbar" style="overflow: scroll;display:none">
        <h2>上传测试文件
            <svg id="svg_closefile" class="bi bi-x" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg" style="cursor:pointer">
                <path fill-rule="evenodd"
                      d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd"
                      d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
        </h2>
        <hr>
        <form id="form_upload" action="{{ url_for('project_upload_file') }}" method="POST"
              enctype="multipart/form-data">
            <p>文件：<input type="file" name="project_upload_file" id="input_file"></p>
            <p>
                <label>文件名</label>
                <input type="text" class="form-control" id="input_filename" name="file_name"></p>
            <p>
                <button id="submit_upload" type="button" class="btn btn-secondary">提交</button>
            </p>
        </form>
        <hr>
        <div id="div_file_list">
            <ul>
                {% for file in files %}
                    <li>{{ file }}<span class="badge badge-danger" style="cursor:pointer;" onclick="delete_file(this)">删除</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row header">
        <a class="submit-btn" href="{{ url_for('Admin') }}">返回列表</a>
        <button id="save" class="submit-btn">保存</button>
        <button id="button_fileopen" class="submit-btn">
            <svg class="bi bi-paperclip" width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>
            文件
        </button>
    </div>
    <div class="row main2" style="height:100%">
        <div class="col-12" style="height:100%;">
            <h2 class="h2_title">教案编辑</h2>
            <label for="input_title">Title</label>
            <div class="input-group mb-3">
                <input type="text" id="input_title" class="form-control" placeholder="{{ project.title }}"
                       aria-label="Title" aria-describedby="basic-addon1">
            </div>
            <label for="input_project_id">Project ID</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="input_project_id" placeholder="{{ project.project_id }}">
            </div>

                <label for="edittext">项目描述</label>
                <textarea id="edittext" style="width:100%; height:100%;"></textarea>


            <div class="input-group mb-3">
                <input type="text" class="form-control" id="input_test" aria-label="Text input with dropdown button">
                <div class="input-group-append">
                    <button  class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择测试文件
                    </button>
                    <div class="dropdown-menu" id="fileSelector">
                        {% for file in files %}
                        <a class="dropdown-item" href="#">{{ file }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <form method="POST" style="display: none" id="form">
        <!--启动CSRF-->
        <!--提交到后台的表单-->
        {% for item in form %}
            {{ item }}
        {% endfor %}
        <p>
            <button style="float: right" type="submit"></button>
        </p>
    </form>
</div>

</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../js/popper.js"></script>
<script src="../node_modules/marked/marked.min.js"></script>
<script src='../node_modules/bootstrap/dist/js/bootstrap.js'></script>
<script src='../node_modules/simplemde/dist/simplemde.min.js'></script>
<script>
    var simplemde = new SimpleMDE({
        toolbar: ["bold", "italic", "strikethrough", "horizontal-rule", "heading", "heading-smaller", "heading-bigger", "|", "unordered-list", "ordered-list", "code", "quote", "link", "image", "table", "|", "side-by-side", "preview", "fullscreen"],
        autosave: {
            enabled: true,
            uniqueId: "MyProjectUniqueID",
            delay: 1000,
        },
        previewRender: function (plainText, preview) { // Async method
            setTimeout(function () {
                preview.innerHTML = marked(plainText);
            }, 10);
            return " ";
        },
    })

    document.querySelector("#input_project_id").value = `{{ project.project_id|safe|transformText }}`
    document.querySelector("#input_title").value = `{{ project.title|safe|transformText }}`
    document.querySelector('#input_test').value = `{{ project.test|safe|transformText }}`
    var text = `{{ project.text|safe|transformText }}`
    simplemde.value(text)

    $(document).on('click', '.dropdown-item', function (e) {
        $('#input_test').val(this.innerHTML)
    })

    $('#save').on('click', function () { //提交表单
        document.querySelector('#text').innerHTML = simplemde.value()
        document.querySelector('#title').innerHTML = document.querySelector("#input_title").value
        document.querySelector('#project_id').value = document.querySelector("#input_project_id").value
        document.querySelector("#test").innerHTML = document.querySelector("#input_test").value
        document.querySelector('#form').submit()
    })

    function delete_file(obj) {
        let filename = obj.parentNode.innerText.slice(0, -2)
        $.ajax({
            url: "{{ url_for('project_delete_file') }}",
            type: "post",
            data: filename,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log($('#input_test').val())
                if(filename == $('#input_test').val()) //如果删除的是已经被选用的文件，则清空已经被选用的文件并保存
                {
                    $('#input_test').val('')
                    $('#save').click()
                }
                $('#div_file_list').html(data['list'])
                $('#fileSelector').html(data['selector'])
            },
            error: function (e) {
            }
        })

    }

    const submit_upload = document.querySelector("#submit_upload")
    submit_upload.addEventListener('click', function () {
        $.ajax({
            url: "{{ url_for('project_upload_file') }}",
            type: "post",
            data: new FormData(document.querySelector("#form_upload")),
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                $('#div_file_list').html(data['list'])
                $('#fileSelector').html(data['selector'])
            },
            error: function (e) {
            }
        })

    })
    const input_file = document.querySelector('#input_file')
    input_file.addEventListener('change', function () {
        document.querySelector("#input_filename").value = input_file.files[0].name  //AddFile 结果
    })
    const svg_closefile = document.querySelector('#svg_closefile')
    svg_closefile.addEventListener('click', function () {
        $('#file_toolbar').css('display', 'none')
    })
    const button_fileopen = document.querySelector('#button_fileopen')
    button_fileopen.addEventListener('click', function () {
        if ($('#file_toolbar').css('display') == 'none')
            $('#file_toolbar').css('display', 'block')
        else
            $('#file_toolbar').css('display', 'none')
    })
</script>
</body>
</html>