<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/toastr.min.css" />
    <script src="../js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>登录</title>
</head>

<body>
    <form class="box" method="post">
        <h1>Login</h1>
        <input type="text" name="" placeholder="Username" id="username">
        <input type="password" name="" placeholder="Password" id="password">
        <input id="first" type="button" value="注册" onclick="register()">
        <input type="button" value="登录" onclick="login()">
    </form>
    <script>
        function login() {
            var formdata = {
                "username": $("#username").val(),
                "password": $("#password").val(),
            }
            $.ajax({
                url: "{{ url_for('login') }}",
                type: "POST",
                data: JSON.stringify(formdata),
                dataType: "json",
                contentType: "application/json",
                success: function(result) {
                    if (result.result == "OK") {
                        toastr["success"]("登录成功")
                        setTimeout(next_url(result.next_url), 3000);//定时函数，为了显示提示
                    } else if (result.result == "NO") {
                        toastr["error"](result.msg)
                    }
                },
                error: function() {
                    toastr["error"]("网络连接失败");
                }
            })
            return false;
        }

        function next_url(url) {
            window.location.href = url;
        }

        function register() {
            window.location.href = "{{  url_for('register')}}"
        }
    </script>
</body>

</html>