<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/toastr.min.css"/>
    <script src="../js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>登录</title>
</head>

<body>
<form class="box" method="post">
    <h1>Login</h1>
    <input type="text" name="" placeholder="Username" id="username">
    <input type="password" name="" placeholder="Password" id="password">
    <input id="first" type="button" value="注册">
    <input id="second" type="button" value="登录">
</form>
<script>
    $(document).on('click', '#first', function () {
        window.location.href = "{{  url_for('register')}}"
    })
    $(document).on('click', '#second', function () {
        var formdata = {
            "username": $("#username").val(),
            "password": $("#password").val(),
        }
        $.ajax({
            url: "{{ url_for('login') }}",
            type: "POST",
            data: JSON.stringify(formdata),
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result.result == "OK") {
                    toastr["success"]("登录成功")
                    //定时函数，为了显示提示
                    //要执行的代码必须写在函数中 否则会立即执行 没有延迟
                    setTimeout(function(){ next_url(result.next_url) }, 1000);
                } else if (result.result == "NO") {
                    toastr["error"](result.msg)
                }
            },
            error: function () {
                toastr["error"]("网络连接失败");
            }
        })
        return false;
    })

    $(document).keydown(function (event) {
        if (event.keyCode == 13) {
        $('#second').click();
        }
    });

    function next_url(url) {
        window.location.href = url;
    }
</script>
</body>

</html>