[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mongoengine = "==0.9.5"
flask-dotenv = "*"
python-dotenv = "*"
jasmine = "*"
flask-login = "*"

[requires]
python_version = "3.7"
